$wrapper
  max-width $contentWidth
  margin 0 auto
  background-color $bgColor
  padding 2rem
  // @media (min-width: $MQNarrow)
  //   padding 2rem
  // @media (max-width: $MQMobileNarrow)
  //   padding 1.5rem

